{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div>
    <h1>Вы успешно зарегистрировались</h1>
    <a href="/" style="text-align:center;">Вернуться на главную страницу</a>
    </div>
{% endblock %}
