{% extends 'base.html.twig' %}
{% block title %}Главная страница{% endblock %}
{% block body %}

	<style></style> 
	<div class="second-wrapper">
		<div>
			{% set counter = 1 %}
			<button onclick="getLocation()">Get Location</button>
			<p id="location"></p>
			<text>
				Список всех товаров:</text>
			<table class="exampleTable">
				<thead>
					<tr>
						<th scope="col">№</th>
						<th scope="col">Наименование</th>
						<th scope="col">Категория</th>
					</tr>
				</thead>
				{% for product in pagination %}
					<tr>
						<th>
							{{ counter }}
						</th>
						<th>
							{{ product.getName() }}
						</th>
						<th>
							{{ product.getCategory().getName() }}
						</th>
					</tr>
					{% set counter = counter + 1 %}
				{% endfor %}
			</table>
			{{knp_pagination_render(pagination)}}
		</div>
	</div>
{% endblock %}
