{% extends 'base.html.twig' %}
{% block title %}Главная страница{% endblock %}
{% block body %}

	<style></style> 
	<div class="second-wrapper">
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div>
			<div class="row text-center">
				<p>Добро пожаловать, {{app.user.firstname ~ app.user.secondname}}</p>
				<p>Вам доступны следующие сервисы:</p>	
			</div>
			<div class="d-flex d-flex-row border border-3">
				<div class="">
					<a href="/library" class="btn btn-small">Библиотека</a>
					<a href="/gamelibrary" class="btn btn-small">Игротека</a>
					<a href="/filmlibrary" class="btn btn-small">Фильмотека</a>
				</div>
			</div>
		</div>
		
	{% else %}	
		<div class="text-center">
			<p>Для работы с сайтом необходимо авторизоваться</p>
			<a class="btn btn-small" href="/login">Авторизация</a>
        </div>
	{% endif %}	
	</div>
{% endblock %}
