{% extends 'content.html.twig' %}

{% block title %}Страница Категорий{% endblock %}

{% block body %}
<style>
</style>

<div>
    <h1 style="text-align:center;">Товары по категориям</h1>
    <text style="margin-left:5px;"> Выберите категорию: </text>
</div>
{% endblock %}
