<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		
		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
        	{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body class="gradient-background">
		<div class="first-wrapper">
			<div class="header">
				<h1 class="logo">YouGreen</h1>
				<nav class="main-nav">
					<ul>
						<li>
							<a id="mainLink" href="/">Главная</a>
						</li>
						<li>
							<a id="categoryLink" href="/category">Категории</a>
						</li>
						<div class="dropDownMenu">
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a>Пользователь</a>
								<div class="dropDownMenu-content">
									<a href="/users/profile">Профиль</a>
									<br>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="/admin">Админ</a>
										<br>
									{% endif %}
									<a href="/logout">Выйти</a>
								</div>
							{% else %}
								<a id="loginLink" href="/login">Авторизация</a>
							{% endif %}
						</div>
					</ul>
				</nav>
			</div>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>

<script>
	var currentURL = window.location.href;
	var color = '#9c9c9c';
	var baseURL = window.location.origin;
	if (currentURL.includes("category")) {
		document.getElementById('categoryLink').style.backgroundColor = color;
	} else if (currentURL === baseURL + "/") {
		document.getElementById('mainLink').style.backgroundColor = color;
	} else if (currentURL.includes("login")) {
		document.getElementById('loginLink').style.backgroundColor = color;
	}
	div
</script>
<style>
	.dropDownMenu-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 155px;
		box-shadow: 0 0 10px rgba(32, 36, 49, 0.5);
		border: 2px solid #ddd;
		border-radius: 15px;
		text-align: center; /* Выравнивание по центру */
	}
	.dropDownMenu-content a {}
	.dropDownMenu a:last-child {
		border-bottom: none; /* Убрать границу снизу у последнего элемента */
	}

	.dropDownMenu:hover .dropDownMenu-content {
		display: block;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		border-bottom: 2px solid black;
	}
	.logo {
		color: #333333;
		font-size: 20px;
		padding: 5px;
	}

	.main-nav ul {
		list-style-type: none;
		padding: 5px;
		margin: 0;
		display: flex;
		background-color: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 10px rgba(32, 36, 49, 1);
		border-radius: 15px;
	}
	.main-nav li {
		margin-right: 20px;
	}
	.main-nav a {
		text-decoration: none;
		color: #333333;
		padding: 5px; /* добавляем отступы, чтобы увеличить область нажатия */
		border-radius: 15px; /* Добавляем скругленные углы для кнопки */
		transition: background-color 0.5s ease;
	}
	.main-nav a:hover {
		background-color: #9c9c9c; /* Новый цвет фона при наведении */
	}
	.first-wrapper {
		margin: 0 auto 1em;
		max-width: 1000px;
		width: 95%;
		height: 95%;
		font: 18px / 1.5 sans-serif;
		border-radius: 15px;
		background-color: rgba(254, 253, 254, 0.9);
		color: #1d253b;
		box-shadow: 0 0 10px rgba(7, 7, 7, 1);
	}
	.first-wrapper h1 {
		text-align: center;
	}
	.gradient-background {
		margin: 20px;
		background: linear-gradient(#5e678a, #343b4e, #1c1f28); /* Измените цвета на те, которые вам нравятся */
		/* Дополнительные свойства (высота, ширина, отступы и т.д.) */
		height: 100vh;
		width: 100%;
	}

	.second-wrapper {
		margin: 20px auto;
		width: 95%;
		font: 18px / 1.5 sans-serif;
		border-radius: 15px;
		color: #1d253b;
		box-shadow: 0 0 10px rgba(32, 36, 49, 1);
	}
	.second-wrapper h1 {
		margin:0px;
		text-align: center;
	}
	.second-wrapper input {
		text-align: center;
		height: 20px;
		border-radius: 15px;
	}
	.second-wrapper button {
		border-radius: 15px;
		background-color: rgba(254, 253, 254, 0.9);
		box-shadow: 0 0 10px rgba(7, 7, 7, 0.25);
		margin:5px;
		padding: 5px;
		border:none;
		color: #1d253b;
		font-size: 15px;
		transition: background-color 0.5s ease;
		cursor: pointer;
	}
	.second-wrapper button:hover {
		background-color: #888888; /* Новый цвет фона при наведении */
	}
	
	.exampleTable {
		width: 95%;
		text-align: center;
		 margin: 0 auto;

		 
	}
	.exampleTable thead th {
		font-weight: bold;
		background-color: #ecf9fc;
		color: #1d253b;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
	}

	.exampleTable th {
		border-width: 1px;
		font-weight: normal;
		border-style: solid;
		border-radius: 10px;
	}
</style>
