{% extends 'base.html.twig' %}
{% block title %}Библиотека{% endblock %}
{% block body %}
    <div class="second-wrapper">
        <div>
            <button onclick="showAddModalWindow()">Добавить</button>
        </div>
        <div>
            <table class="table table-stripped, table-bordered, table-hover m=0">
                <thead>
                    <th>Наименование</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Статус</th>
                    <th>Коментарий</th>
                    <th>Оценка</th>
                    <th>Скачать</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Гарри Поттер и дары смерти</td>
                        <td>213123123</td>
                        <td>123123123</td>
                        <td>3123123</td>
                        <td>3123123</td>
                        <td>3123213</td>
                        <td><button>Скачать</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        function showAddModalWindow()
        {
            fetch('{{url("library_view")}}', 
            {
                method: 'POST',
                headers: 
                {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: 'example', password: '123' })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Ошибка:', error));
        }
    </script>
{% endblock %}