{% extends 'base.html.twig' %}
{% block body %}
    <div class="second-wrapper">
        <div>
            <button>Добавить</button>
        </div>
        <div>
            <table class="">
                <thead>
                    <th>Наименование</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Статус</th>
                    <th>Коментарий</th>
                    <th>Оценка</th>
                    <th>Скачать</th>
                </thead>
                <tbody>
                    <td>Гарри Поттер и дары смерти</td>
                    <td>213123123</td>
                    <td>123123123</td>
                    <td>3123123</td>
                    <td>3123123</td>
                    <td>3123213</td>
                    <td><button>Скачать</button></td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}