{% extends 'base.html.twig' %}

{% block title %}Страница Категорий
{% endblock %}

{% block body %}
	<div>
		<h1>Страница не найдена</h1>

		<p>
			Запрашиваемая страница не найдена. Проверьте корректно ли введен адресс или
			<a href="{{ path('main_page') }}">вернитесь на главную страницу</a>.
		</p>
        <div>
	{% endblock %}
